<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=IBM+Plex+Sans">
    <link href="http://fonts.googleapis.com/css?family=IBM+Plex+Mono">
    <title>Whoops! - <%= error %></title>
</head>
<body>
    <div class="center">
        <h1 class="title"><%= error %></h1>
        <h2 class="under"><%= reason %></h2>
    </div>
</body>
</html>